@model WebOdevi.Models.Calisan

@{
    ViewData["Title"] = "Çalışan Sil";
}

<h1>Çalışan Sil</h1>

<h4>Çalışan</h4>
<hr />
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Ad)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Ad)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Soyad)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Soyad)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Uzmanlik)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Uzmanlik)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Musaitlik)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Musaitlik)
    </dd>
</dl>

<form asp-action="DeleteConfirmed">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <input type="submit" value="Sil" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Geri</a>
    </div>
</form>