@using Microsoft.AspNetCore.Identity
@inject UserManager<Kullanici> UserManager
@model WebOdevi.Models.Berber

<h1>Berber Detayları</h1>
<div>
    <h3>@Model.Ad</h3>
    <div><strong>Adres:</strong> @Model.Adres</div>
    <div><strong>Çalışma Saatleri:</strong> @Model.CalismaSaatleri</div>
</div>

<a asp-action="Index" class="btn btn-secondary">Geri Dön</a>
@if (User.IsInRole("Admin"))
{
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Düzenle</a>
    <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Sil</a>
}
