@model IEnumerable<WebOdevi.Models.Berber>
@using Microsoft.AspNetCore.Identity
@inject UserManager<Kullanici> UserManager
<h1>Berberler</h1>
<table class="table">
    <thead>
        <tr>
            <th>Ad</th>
            <th>Soyad</th>
            <th>Uzmanlik</th>
            <th>Musaitlik</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var berber in Model)
        {
            <tr>
                <td>@berber.Ad</td>
                <td>@berber.Soyad</td>
                <td>@berber.Uzmanlik</td>
                <td>@berber.Musaitlik</td>
                <td>
                    <a asp-action="Details" asp-route-id="@berber.Id" class="btn btn-info">Detaylar</a>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@berber.Id" class="btn btn-warning">Düzenle</a>
                        <a asp-action="Delete" asp-route-id="@berber.Id" class="btn btn-danger">Sil</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@if (User.IsInRole("Admin"))
{
    <a asp-action="Create" class="btn btn-success">Yeni Berber Ekle</a>
}